<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Analysis with Machine Learning</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
     <style>
        body {

            }
        div {
        margin-bottom: 10px;
        }
        label {
          display: inline-block;
          width: 130px;
          text-align: right;
        }
    </style>
</head>
<body>
        <h1> Predict review sentiment </h1>
         <form action = {{url_for('make_prediction')}} method = "post">
          <p>Enter a movie review:</p>
         <textarea placeholder="Type in or paste here..." type="string" name="user_input" cols="50" rows="5">
         </textarea>
         <p><input type = "submit" value="Predict"/></p>
      </form>

        <h3>{{ prediction_text }} </h3>

</body>
</html>